.portfolio h3 {
	font-family: 'Montserrat';
	text-align: center;
	font-size: 3rem;
	font-weight: 400;
	text-decoration: underline #006EDB;
	border-radius: 1rem;

}

.portfolio-card {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5rem 0;
}

.card1 {
	margin: 1.5rem 5rem;
	padding: 2rem 4rem;
	min-width: 14rem;
	max-height: 22rem;
	background-color: #DCEEFF;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card1:hover {
	outline: 4px solid #006EDB;
	outline-offset: 10px;
	transform: scale(1.1);
	border-radius: 0.2rem;
	transition: 0.5s ease-in-out;
}

.card1 h1 {
	font-size: 2rem;
	padding: 1rem;
	border-radius: 4rem;
	height: 2.5rem;
	width: 2.5rem;
	background-color: #ffffff;
	margin-bottom: 1.2rem;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.card1 h2 {
	font-size: 2rem;
	font-family: 'Montserrat';

	font-weight: 500;
	margin-bottom: 1.2rem;

}

.card1 p {
	font-size: 1.3rem;
	font-family: 'Montserrat';

	font-weight: 400;
}

.card1 button {
	font-family: 'Montserrat';
	font-size: 1rem;
	outline: none;
	border: none;
	padding: 0.7rem 1rem;
	background-color: #006EDB;
	margin-top: 1.2rem;
	color: #fff;
	border-radius: 0.2rem;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media screen and (max-width: 64rem) {
	.portfolio h3 {
		font-size: 2rem;

	}

	.portfolio-card {
		flex-direction: column;
		margin: 5rem 0;

	}
	.card1 {
		margin: 1.5rem 5rem;
		padding: 2rem;
	}

	
	.card1 h2 {
		font-size: 1.5rem;
	
	}
	
	.card1 p {
		font-size: 1rem;
	}
	
	.card1 button {
		font-family: 'Montserrat';
		font-size: 0.8rem;
		}
	
}